@import "tailwindcss";
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #fffdf8;
}

h1,
h2,
h3,
.logo-text {
  font-family: "Cinzel", serif;
}